<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandu.service.product.dao.ProductDao">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <!-- **插入定义** -->
    <insert id="saveProduct" parameterType="com.sandu.api.product.model.Product" useGeneratedKeys="true"
            keyProperty="id">
        insert into base_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="proStyleId != null">
                pro_style_id,
            </if>
            <if test="productSpec != null">
                product_spec,
            </if>
            <if test="colorId != null">
                color_id,
            </if>
            <if test="productLength != null">
                product_length,
            </if>
            <if test="productWidth != null">
                product_width,
            </if>
            <if test="productHeight != null">
                product_height,
            </if>
            <if test="salePrice != null">
                sale_price,
            </if>
            <if test="advicePrice != null">
                advice_price,
            </if>
            <if test="picId != null">
                pic_id,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="productDesc != null">
                product_desc,
            </if>
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="picIds != null">
                pic_ids,
            </if>
            <if test="materialPicIds != null">
                material_pic_ids,
            </if>
            <if test="houseTypeValues != null">
                house_type_values,
            </if>
            <if test="productTypeValue != null">
                product_type_value,
            </if>
            <if test="u3dmodelId != null">
                u3dmodel_Id,
            </if>
            <if test="mergeProductIds != null">
                merge_product_ids,
            </if>
            <if test="putawayModified != null">
                putaway_modified,
            </if>
            <if test="dateAtt2 != null">
                date_att2,
            </if>
            <if test="productSmallTypeValue != null">
                product_small_type_value,
            </if>
            <if test="putawayState != null">
                putaway_state,
            </if>
            <if test="numAtt3 != null">
                num_att3,
            </if>
            <if test="numAtt4 != null">
                num_att4,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="ipadU3dmodelId != null">
                ipad_u3dmodel_id,
            </if>
            <if test="iosU3dmodelId != null">
                ios_u3dmodel_id,
            </if>
            <if test="androidU3dmodelId != null">
                android_u3dmodel_id,
            </if>
            <if test="macbookU3dmodelId != null">
                macbook_u3dmodel_id,
            </if>
            <if test="windowsU3dmodelId != null">
                windows_u3dmodel_id,
            </if>
            <if test="webU3dmodelId != null">
                web_u3dmodel_id,
            </if>
            <if test="decorationId != null">
                decoration_id,
            </if>
            <if test="designerId != null">
                designer_id,
            </if>
            <if test="modelingId != null">
                modeling_id,
            </if>
            <if test="renderingId != null">
                rendering_id,
            </if>
            <if test="productTypeMark != null">
                product_type_mark,
            </if>
            <if test="productSmallTypeMark != null">
                product_small_type_mark,
            </if>
            <if test="originalProductCode != null">
                original_product_code,
            </if>
            <if test="spacecomonId != null">
                spaceComon_id,
            </if>
            <if test="productShortCode != null">
                product_short_code,
            </if>
            <if test="bmIds != null">
                bm_ids,
            </if>
            <if test="codeNumber != null">
                code_number,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="designtempletId != null">
                designTemplet_id,
            </if>
            <if test="materialFileId != null">
                material_file_id,
            </if>
            <if test="material3dPicIds != null">
                material3d_pic_ids,
            </if>
            <if test="syncStatus != null">
                sync_status,
            </if>
            <if test="codeIsEmploy != null">
                code_is_employ,
            </if>
            <if test="codeBatch != null">
                code_batch,
            </if>
            <if test="productModelNumber != null">
                product_model_number,
            </if>
            <if test="fullPaveLength != null">
                full_pave_length,
            </if>
            <if test="testModified != null">
                test_modified,
            </if>
            <if test="salePriceValue != null">
                sale_price_value,
            </if>
            <if test="minHeight != null">
                min_height,
            </if>
            <if test="productMaterialDesc != null">
                product_material_desc,
            </if>
            <if test="colorsLongCode != null">
                colors_long_code,
            </if>
            <if test="configId != null">
                config_id,
            </if>
            <if test="fbxFileId != null">
                fbx_file_id,
            </if>
            <if test="fbxTexture != null">
                fbx_texture,
            </if>
            <if test="fbxState != null">
                fbx_state,
            </if>
            <if test="productStyleIdInfo != null">
                product_style_id_info,
            </if>
            <if test="styleId != null">
                style_id,
            </if>
            <if test="regionMark != null">
                region_mark,
            </if>
            <if test="measureCode != null">
                measure_code,
            </if>
            <if test="wallType != null">
                wall_type,
            </if>
            <if test="productSmallpoxIdentify != null">
                product_smallpox_identify,
            </if>
            <if test="productGroundIdentify != null">
                product_ground_identify,
            </if>
            <if test="seriesId != null">
                series_id,
            </if>
            <if test="spellingFlowerFileId != null">
                spelling_flower_file_id,
            </if>
            <if test="appPicTextureIds != null">
                app_pic_texture_ids,
            </if>
            <if test="productSmallpoxIdentifyStr != null">
                product_smallpox_identify_str,
            </if>
            <if test="splitTexturesInfo != null">
                split_textures_info,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="originId != null">
                origin_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="proStyleId != null">
                #{proStyleId,jdbcType=INTEGER},
            </if>
            <if test="productSpec != null">
                #{productSpec,jdbcType=VARCHAR},
            </if>
            <if test="colorId != null">
                #{colorId,jdbcType=INTEGER},
            </if>
            <if test="productLength != null">
                #{productLength,jdbcType=VARCHAR},
            </if>
            <if test="productWidth != null">
                #{productWidth,jdbcType=VARCHAR},
            </if>
            <if test="productHeight != null">
                #{productHeight,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null">
                #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="advicePrice != null">
                #{advicePrice,jdbcType=DECIMAL},
            </if>
            <if test="picId != null">
                #{picId,jdbcType=INTEGER},
            </if>
            <if test="modelId != null">
                #{modelId,jdbcType=INTEGER},
            </if>
            <if test="productDesc != null">
                #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="picIds != null">
                #{picIds,jdbcType=VARCHAR},
            </if>
            <if test="materialPicIds != null">
                #{materialPicIds,jdbcType=VARCHAR},
            </if>
            <if test="houseTypeValues != null">
                #{houseTypeValues,jdbcType=VARCHAR},
            </if>
            <if test="productTypeValue != null">
                #{productTypeValue,jdbcType=VARCHAR},
            </if>
            <if test="u3dmodelId != null">
                #{u3dmodelId,jdbcType=VARCHAR},
            </if>
            <if test="mergeProductIds != null">
                #{mergeProductIds,jdbcType=VARCHAR},
            </if>
            <if test="putawayModified != null">
                #{putawayModified,jdbcType=TIMESTAMP},
            </if>
            <if test="dateAtt2 != null">
                #{dateAtt2,jdbcType=TIMESTAMP},
            </if>
            <if test="productSmallTypeValue != null">
                #{productSmallTypeValue,jdbcType=INTEGER},
            </if>
            <if test="putawayState != null">
                #{putawayState,jdbcType=INTEGER},
            </if>
            <if test="numAtt3 != null">
                #{numAtt3,jdbcType=DECIMAL},
            </if>
            <if test="numAtt4 != null">
                #{numAtt4,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="ipadU3dmodelId != null">
                #{ipadU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="iosU3dmodelId != null">
                #{iosU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="androidU3dmodelId != null">
                #{androidU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="macbookU3dmodelId != null">
                #{macbookU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="windowsU3dmodelId != null">
                #{windowsU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="webU3dmodelId != null">
                #{webU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="decorationId != null">
                #{decorationId,jdbcType=VARCHAR},
            </if>
            <if test="designerId != null">
                #{designerId,jdbcType=INTEGER},
            </if>
            <if test="modelingId != null">
                #{modelingId,jdbcType=INTEGER},
            </if>
            <if test="renderingId != null">
                #{renderingId,jdbcType=INTEGER},
            </if>
            <if test="productTypeMark != null">
                #{productTypeMark,jdbcType=VARCHAR},
            </if>
            <if test="productSmallTypeMark != null">
                #{productSmallTypeMark,jdbcType=VARCHAR},
            </if>
            <if test="originalProductCode != null">
                #{originalProductCode,jdbcType=VARCHAR},
            </if>
            <if test="spacecomonId != null">
                #{spacecomonId,jdbcType=INTEGER},
            </if>
            <if test="productShortCode != null">
                #{productShortCode,jdbcType=VARCHAR},
            </if>
            <if test="bmIds != null">
                #{bmIds,jdbcType=VARCHAR},
            </if>
            <if test="codeNumber != null">
                #{codeNumber,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="designtempletId != null">
                #{designtempletId,jdbcType=INTEGER},
            </if>
            <if test="materialFileId != null">
                #{materialFileId,jdbcType=INTEGER},
            </if>
            <if test="material3dPicIds != null">
                #{material3dPicIds,jdbcType=VARCHAR},
            </if>
            <if test="syncStatus != null">
                #{syncStatus,jdbcType=VARCHAR},
            </if>
            <if test="codeIsEmploy != null">
                #{codeIsEmploy,jdbcType=INTEGER},
            </if>
            <if test="codeBatch != null">
                #{codeBatch,jdbcType=VARCHAR},
            </if>
            <if test="productModelNumber != null">
                #{productModelNumber,jdbcType=VARCHAR},
            </if>
            <if test="fullPaveLength != null">
                #{fullPaveLength,jdbcType=VARCHAR},
            </if>
            <if test="testModified != null">
                #{testModified,jdbcType=TIMESTAMP},
            </if>
            <if test="salePriceValue != null">
                #{salePriceValue,jdbcType=INTEGER},
            </if>
            <if test="minHeight != null">
                #{minHeight,jdbcType=VARCHAR},
            </if>
            <if test="productMaterialDesc != null">
                #{productMaterialDesc,jdbcType=VARCHAR},
            </if>
            <if test="colorsLongCode != null">
                #{colorsLongCode,jdbcType=VARCHAR},
            </if>
            <if test="configId != null">
                #{configId,jdbcType=INTEGER},
            </if>
            <if test="fbxFileId != null">
                #{fbxFileId,jdbcType=INTEGER},
            </if>
            <if test="fbxTexture != null">
                #{fbxTexture,jdbcType=VARCHAR},
            </if>
            <if test="fbxState != null">
                #{fbxState,jdbcType=INTEGER},
            </if>
            <if test="productStyleIdInfo != null">
                #{productStyleIdInfo,jdbcType=VARCHAR},
            </if>
            <if test="styleId != null">
                #{styleId,jdbcType=BIGINT},
            </if>
            <if test="regionMark != null">
                #{regionMark,jdbcType=VARCHAR},
            </if>
            <if test="measureCode != null">
                #{measureCode,jdbcType=VARCHAR},
            </if>
            <if test="wallType != null">
                #{wallType,jdbcType=VARCHAR},
            </if>
            <if test="productSmallpoxIdentify != null">
                #{productSmallpoxIdentify,jdbcType=INTEGER},
            </if>
            <if test="productGroundIdentify != null">
                #{productGroundIdentify,jdbcType=INTEGER},
            </if>
            <if test="seriesId != null">
                #{seriesId,jdbcType=INTEGER},
            </if>
            <if test="spellingFlowerFileId != null">
                #{spellingFlowerFileId,jdbcType=INTEGER},
            </if>
            <if test="appPicTextureIds != null">
                #{appPicTextureIds,jdbcType=VARCHAR},
            </if>
            <if test="productSmallpoxIdentifyStr != null">
                #{productSmallpoxIdentifyStr,jdbcType=VARCHAR},
            </if>
            <if test="splitTexturesInfo != null">
                #{splitTexturesInfo,jdbcType=LONGVARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId},
            </if>
            <if test="originId != null">
                #{originId}
            </if>
        </trim>
    </insert>

    <!-- **更新定义** -->
    <update id="updateProduct" parameterType="com.sandu.api.product.model.Product">
        update base_product
        <set>
            <if test="productCode != null">
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="proStyleId != null">
                pro_style_id = #{proStyleId,jdbcType=INTEGER},
            </if>
            <if test="productSpec != null">
                product_spec = #{productSpec,jdbcType=VARCHAR},
            </if>
            <if test="colorId != null">
                color_id = #{colorId,jdbcType=INTEGER},
            </if>
            <if test="productLength != null">
                product_length = #{productLength,jdbcType=VARCHAR},
            </if>
            <if test="productWidth != null">
                product_width = #{productWidth,jdbcType=VARCHAR},
            </if>
            <if test="productHeight != null">
                product_height = #{productHeight,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="advicePrice != null">
                advice_price = #{advicePrice,jdbcType=DECIMAL},
            </if>
            <if test="picId != null">
                pic_id = #{picId,jdbcType=INTEGER},
            </if>
            <if test="modelId != null">
                model_id = #{modelId,jdbcType=INTEGER},
            </if>
            <if test="productDesc != null">
                product_desc = #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                sys_code = #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="picIds != null">
                pic_ids = #{picIds,jdbcType=VARCHAR},
            </if>
            <if test="materialPicIds != null">
                material_pic_ids = #{materialPicIds,jdbcType=VARCHAR},
            </if>
            <if test="houseTypeValues != null">
                house_type_values = #{houseTypeValues,jdbcType=VARCHAR},
            </if>
            <if test="productTypeValue != null">
                product_type_value = #{productTypeValue,jdbcType=VARCHAR},
            </if>
            <if test="u3dmodelId != null">
                u3dmodel_Id = #{u3dmodelId,jdbcType=VARCHAR},
            </if>
            <if test="mergeProductIds != null">
                merge_product_ids = #{mergeProductIds,jdbcType=VARCHAR},
            </if>
            <if test="putawayModified != null">
                putaway_modified = #{putawayModified,jdbcType=TIMESTAMP},
            </if>
            <if test="dateAtt2 != null">
                date_att2 = #{dateAtt2,jdbcType=TIMESTAMP},
            </if>
            <if test="productSmallTypeValue != null">
                product_small_type_value = #{productSmallTypeValue,jdbcType=INTEGER},
            </if>
            <if test="putawayState != null">
                putaway_state = #{putawayState,jdbcType=INTEGER},
            </if>
            <if test="numAtt3 != null">
                num_att3 = #{numAtt3,jdbcType=DECIMAL},
            </if>
            <if test="numAtt4 != null">
                num_att4 = #{numAtt4,jdbcType=DECIMAL},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="ipadU3dmodelId != null">
                ipad_u3dmodel_id = #{ipadU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="iosU3dmodelId != null">
                ios_u3dmodel_id = #{iosU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="androidU3dmodelId != null">
                android_u3dmodel_id = #{androidU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="macbookU3dmodelId != null">
                macbook_u3dmodel_id = #{macbookU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="windowsU3dmodelId != null">
                windows_u3dmodel_id = #{windowsU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="webU3dmodelId != null">
                web_u3dmodel_id = #{webU3dmodelId,jdbcType=INTEGER},
            </if>
            <if test="decorationId != null">
                decoration_id = #{decorationId,jdbcType=VARCHAR},
            </if>
            <if test="designerId != null">
                designer_id = #{designerId,jdbcType=INTEGER},
            </if>
            <if test="modelingId != null">
                modeling_id = #{modelingId,jdbcType=INTEGER},
            </if>
            <if test="renderingId != null">
                rendering_id = #{renderingId,jdbcType=INTEGER},
            </if>
            <if test="productTypeMark != null">
                product_type_mark = #{productTypeMark,jdbcType=VARCHAR},
            </if>
            <if test="productSmallTypeMark != null">
                product_small_type_mark = #{productSmallTypeMark,jdbcType=VARCHAR},
            </if>
            <if test="originalProductCode != null">
                original_product_code = #{originalProductCode,jdbcType=VARCHAR},
            </if>
            <if test="spacecomonId != null">
                spaceComon_id = #{spacecomonId,jdbcType=INTEGER},
            </if>
            <if test="productShortCode != null">
                product_short_code = #{productShortCode,jdbcType=VARCHAR},
            </if>
            <if test="bmIds != null">
                bm_ids = #{bmIds,jdbcType=VARCHAR},
            </if>
            <if test="codeNumber != null">
                code_number = #{codeNumber,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="designtempletId != null">
                designTemplet_id = #{designtempletId,jdbcType=INTEGER},
            </if>
            <if test="materialFileId != null">
                material_file_id = #{materialFileId,jdbcType=INTEGER},
            </if>
            <if test="material3dPicIds != null">
                material3d_pic_ids = #{material3dPicIds,jdbcType=VARCHAR},
            </if>
            <if test="syncStatus != null">
                sync_status = #{syncStatus,jdbcType=VARCHAR},
            </if>
            <if test="codeIsEmploy != null">
                code_is_employ = #{codeIsEmploy,jdbcType=INTEGER},
            </if>
            <if test="codeBatch != null">
                code_batch = #{codeBatch,jdbcType=VARCHAR},
            </if>
            <if test="productModelNumber != null">
                product_model_number = #{productModelNumber,jdbcType=VARCHAR},
            </if>
            <if test="fullPaveLength != null">
                full_pave_length = #{fullPaveLength,jdbcType=VARCHAR},
            </if>
            <if test="testModified != null">
                test_modified = #{testModified,jdbcType=TIMESTAMP},
            </if>
            <if test="salePriceValue != null">
                sale_price_value = #{salePriceValue,jdbcType=INTEGER},
            </if>
            <if test="minHeight != null">
                min_height = #{minHeight,jdbcType=VARCHAR},
            </if>
            <if test="productMaterialDesc != null">
                product_material_desc = #{productMaterialDesc,jdbcType=VARCHAR},
            </if>
            <if test="colorsLongCode != null">
                colors_long_code = #{colorsLongCode,jdbcType=VARCHAR},
            </if>
            <if test="configId != null">
                config_id = #{configId,jdbcType=INTEGER},
            </if>
            <if test="fbxFileId != null">
                fbx_file_id = #{fbxFileId,jdbcType=INTEGER},
            </if>
            <if test="fbxTexture != null">
                fbx_texture = #{fbxTexture,jdbcType=VARCHAR},
            </if>
            <if test="fbxState != null">
                fbx_state = #{fbxState,jdbcType=INTEGER},
            </if>
            <if test="productStyleIdInfo != null">
                product_style_id_info = #{productStyleIdInfo,jdbcType=VARCHAR},
            </if>
            <if test="styleId != null">
                style_id = #{styleId,jdbcType=BIGINT},
            </if>
            <if test="regionMark != null">
                region_mark = #{regionMark,jdbcType=VARCHAR},
            </if>
            <if test="measureCode != null">
                measure_code = #{measureCode,jdbcType=VARCHAR},
            </if>
            <if test="wallType != null">
                wall_type = #{wallType,jdbcType=VARCHAR},
            </if>
            <if test="productSmallpoxIdentify != null">
                product_smallpox_identify = #{productSmallpoxIdentify,jdbcType=INTEGER},
            </if>
            <if test="productGroundIdentify != null">
                product_ground_identify = #{productGroundIdentify,jdbcType=INTEGER},
            </if>
            <if test="seriesId != null">
                series_id = #{seriesId,jdbcType=INTEGER},
            </if>
            <if test="spellingFlowerFileId != null">
                spelling_flower_file_id = #{spellingFlowerFileId,jdbcType=INTEGER},
            </if>
            <if test="appPicTextureIds != null">
                app_pic_texture_ids = #{appPicTextureIds,jdbcType=VARCHAR},
            </if>
            <if test="productSmallpoxIdentifyStr != null">
                product_smallpox_identify_str = #{productSmallpoxIdentifyStr,jdbcType=VARCHAR},
            </if>
            <if test="splitTexturesInfo != null">
                split_textures_info = #{splitTexturesInfo,jdbcType=LONGVARCHAR},
            </if>
            <if test="secrecyFlag != null">
                secrecy_flag = #{secrecyFlag},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- **删除定义** -->
    <update id="deleteProductById">
        UPDATE base_product
        SET is_deleted = 1
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteProductByCode" parameterType="java.lang.String">
        UPDATE base_product
        SET is_deleted = 1
        WHERE product_code = #{productCode,jdbcType=VARCHAR}
    </update>

    <!-- **常量定义** -->
    <sql id="Base_Column_List">
        id, product_code, product_name, brand_id, pro_style_id, product_spec, color_id, product_length,
        product_width, product_height, sale_price, advice_price, pic_id, model_id, product_desc, sys_code,
        creator, gmt_create, modifier, gmt_modified, is_deleted, pic_ids, material_pic_ids,
        house_type_values, product_type_value, u3dmodel_Id, merge_product_ids, putaway_modified,
        date_att2, product_small_type_value, putaway_state, num_att3, num_att4, remark, ipad_u3dmodel_id,
        ios_u3dmodel_id, android_u3dmodel_id, macbook_u3dmodel_id, windows_u3dmodel_id, web_u3dmodel_id,
        decoration_id, designer_id, modeling_id, rendering_id, product_type_mark, product_small_type_mark,
        original_product_code, spaceComon_id, product_short_code, bm_ids, code_number, parent_id,
        designTemplet_id, material_file_id, material3d_pic_ids, sync_status, code_is_employ,
        code_batch, product_model_number, full_pave_length, test_modified, sale_price_value,
        min_height, product_material_desc, colors_long_code, config_id, fbx_file_id, fbx_texture,
        fbx_state, product_style_id_info, style_id, region_mark, measure_code, wall_type,
        product_smallpox_identify, product_ground_identify, series_id, spelling_flower_file_id,
        app_pic_texture_ids, product_smallpox_identify_str, secrecy_flag
    </sql>

    <!-- 按主键查询-->
    <select id="getProductInfoById" resultType="com.sandu.api.product.model.Product">
        select
        <include refid="Base_Column_List"/>
        from base_product
        where id = #{id,jdbcType=INTEGER} and is_deleted = 0
    </select>

    <select id="queryProduct" resultType="com.sandu.api.product.model.Product"
            parameterType="com.sandu.api.product.model.po.ProductPO">

        SELECT
        <include refid="Base_Column_List"/>
        FROM base_product
        ORDER BY id DESC

    </select>


</mapper>
